<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Widebyte</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    {{--  <link href="asset/img/favicon.png" rel="icon">
    <link href="asset/img/apple-touch-icon.png" rel="apple-touch-icon">  --}}

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/asset/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/asset/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/asset/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/asset/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/asset/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/asset/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/asset/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/asset/css/style.css" rel="stylesheet">

  </head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Freelance Hub</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      {{-- <a href="/" class="logo"><img src="asset/img/logo.png" alt="" class="img-fluid"></a> --}}

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="home">Home</a></li>
          {{--  <li><a class="nav-link scrollto" href="#about">About</a></li>  --}}
          {{--  <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link  scrollto" href="#portfolio">Why us</a></li>  --}}
          <li><a class="nav-link scrollto" href="#team">Why Us</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="nav-link scrollto  active" href="register"> Register</a></li>
          <li><a class="nav-link scrollto" href="#"> Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
  <!-- End Header -->

  <!-- Form -->
  <section>
<div class="container-fluid">
  <div class="section-title">
    <h2>Register</h2>
    {{--  <h3>Register as  <span>Us</span></h3>  --}}
</div>
<div class="row justify-content-center">
  <div class="col-xl-10">
      <div class="row">
        <form action="register" method="POST">
          {{--  {{ csrfField }}  --}}
          <div class="row">
            <!-- Email -->
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
            </div>
            <!-- Name -->
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="name" class="form-control" name="name">
              </div>
            </div>
          </div>

          <div class="row">
             <!-- Country -->

              <div class="col-lg-6">
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Country</label>

                  <select type="text" class="form-control" name="country">
                    @each(country in countries)
                    <option>{{ country.name }}</option>
                    @endeach
                  </select>

                </div>
              </div>

              <!-- Role -->
              <div class="col-lg-6">
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Role</label>
                  <select type="text" class="form-control" name="role_id">
                    <option value="2">Client</option>
                    <option value="3">Freelance</option>
                  </select>
                </div>
              </div>


          </div>

          <div class="row">
             <!-- Password -->
             <div class="col-lg-6">
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
              </div>
            </div>

          </div>

          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Yes, I understand and agree to the Freelance Hub Terms and Conditions</label>
          </div>
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>

        </form>
      </div>
  </div>
</div>

</div>
  </section>

 <!-- ======= Footer ======= -->
 <footer id="footer">

  <div class="footer-newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h4>Our Newsletter</h4>
          <p>Subscribe to our newsletter</p>
        </div>
        <div class="col-lg-6">
          <form action="/subscribe" method="post">
              @csrf
            <input type="email" name="email" required><input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xl-10">
          <div class="row">

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#portfolio">Why us</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contact</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#services">Consultancy and design services</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#services">Security Surveillance Systems</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#services">Structured cabling solutions</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#services">Wireless networking</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#services">Network management</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-contact">
              <h4>Contact Us</h4>
              <p>
                  Location 58,<br>
                  Wrong side,<br>
                  P.O Box 6470, 00300,Nairobi<br><br>
                <strong>Phone:</strong> +254 15153806<br>
                <strong>Email:</strong> derrickmbugua50@gmail.com<br>
              </p>

            </div>

            <div class="col-lg-3 col-md-6 footer-info">
              <h3></h3>
              {{--  <p>Widebytes Solution Limited offers widespread, proprietary IT solutions for all sectors of the economy with collaborative efforts from local and international partners. Cooperation with different partners has enhanced our business portfolio with the vending of high performance networking products and services.</p>  --}}
              {{-- <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div> --}}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Freelance Hub</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="/">Mkenyadamu</a>
    </div>
  </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="asset/vendor/purecounter/purecounter.js"></script>
<script src="asset/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="asset/vendor/glightbox/js/glightbox.min.js"></script>
<script src="asset/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="asset/vendor/swiper/swiper-bundle.min.js"></script>
<script src="asset/vendor/waypoints/noframework.waypoints.js"></script>
{{-- <script src="asset/vendor/php-email-form/validate.js"></script> --}}

<!-- Template Main JS File -->
<script src="asset/js/main.js"></script>

</body>
</html>
