<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>freelancehub</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    {{--  <link href="asset/img/favicon.png" rel="icon">
    <link href="asset/img/apple-touch-icon.png" rel="apple-touch-icon">  --}}

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/asset/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/asset/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/asset/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/asset/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/asset/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/asset/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/asset/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/asset/css/style.css" rel="stylesheet">

  </head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Freelance Hub</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      {{-- <a href="/" class="logo"><img src="asset/img/logo.png" alt="" class="img-fluid"></a> --}}

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          {{--  <li><a class="nav-link scrollto" href="#about">About</a></li>  --}}
          {{--  <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link  scrollto" href="#portfolio">Why us</a></li>  --}}
          <li><a class="nav-link scrollto" href="#team">Why Us</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="nav-link scrollto" href="register"> Register</a></li>
          <li><a class="nav-link scrollto" href="login"> Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(asset/img/slide/slide-1.jpg)">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animated fadeInDown">Welcome to <span style="color: #428bca">Freelance Hub</span></h2>
                        <p class="animated fadeInUp">This is a Platform for Clients to Find<span style="color: #428bca"> Top Skills</p>
                        <a href="#" class="btn-get-started animated fadeInUp scrollto">Post a Job</a>
                        <a href="#" class="btn-get-started animated fadeInUp scrollto">Get Started</a>
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item" style="background-image: url(asset/img/slide/slide-2.jpg)">
                <div class="carousel-container">
                  <div class="container">
                    <h2 class="animated fadeInDown">Welcome to <span style="color: #428bca">Freelance Hub</span></h2>
                    <p class="animated fadeInUp">This is a Platform for Clients to Find<span style="color: #428bca"> Top Skills</p>
                    <a href="#" class="btn-get-started animated fadeInUp scrollto">Post a Job</a>
                    <a href="#" class="btn-get-started animated fadeInUp scrollto">Get Started</a>
                </div>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item" style="background-image: url(asset/img/slide/slide-3.jpg)">
                <div class="carousel-container">
                  <div class="container">
                    <h2 class="animated fadeInDown">Welcome to <span style="color: #428bca">Freelance Hub</span></h2>
                    <p class="animated fadeInUp">This is a Platform for Clients to Find<span style="color: #428bca"> Top Skills</p>
                    <a href="#" class="btn-get-started animated fadeInUp scrollto">Post a Job</a>
                    <a href="#" class="btn-get-started animated fadeInUp scrollto">Get Started</a>
                </div>
                </div>
            </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

    </div>
  </section><!-- End Hero -->

<main id="main">
    <!-- ======= About Section ======= -->
    {{--  <section id="about" class="about">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("asset/img/about.jpg");'
                    data-aos="fade-left" data-aos-delay="100"></div>
                <div
                    class="col-xl-5 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                    <h3 style="color: #428bca">About Us</h3>
                    <p>Widebytes Solution Limited is a Kenyan ICT private company established and duly registered with
                        certificate of incorporation in providing telecommunication services, consultancy, supply,
                        services maintenance , CCTV(Surveillance monitoring), fiber optics, structured cabling and ICT
                        added value solutions.</p>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-fingerprint"></i></div>
                        <h4 class="title" style="color: #428bca">Our Mission</h4>
                        <p class="description">To provide cost-effective, innovative ICT solutions to our customers
                            and improve their productive capacities.</p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-gift"></i></div>
                        <h4 class="title" style="color: #428bca">Our Vision</h4>
                        <p class="description">To be a leading ICT Company in Africa focusing on provision of
                            efficient networking infrastructure and reliable communication services.</p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-atom"></i></div>
                        <h4 class="title" style="color: #428bca">Target Market</h4>
                        <p class="description">WideBytes Solution Limited target market is large, medium and small
                            sized enterprises, for both public and private sectors in Kenya and across the wider Eastern
                            Africa region.</p>
                    </div>

                </div>

            </div>

        </div>
    </section>  --}}
    <!-- End About Section -->

    {{-- <!-- ======= Skills Section ======= -->
  <section id="skills" class="skills">
    <div class="container-fluid">

    <div class="row justify-content-center skills-content">

      <div class="col-xl-5 col-lg-6">

        <div class="progress">
          <span class="skill">HTML <i class="val">100%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">CSS <i class="val">90%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">JavaScript <i class="val">75%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

      </div>

      <div class="col-xl-5 col-lg-6">

        <div class="progress">
          <span class="skill">PHP <i class="val">80%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">WordPress/CMS <i class="val">90%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">Photoshop <i class="val">55%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

      </div>

    </div>

   </div>
   </section><!-- End Skills Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts section-bg">
    <div class="container-fluid">

      <div class="row counters">

      <div class="col-lg-3 col-6 text-center">
        <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
        <p>Clients</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
        <p>Projects</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
        <p>Hours Of Support</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
        <p>Hard Workers</p>
      </div>

    </div>

  </div>
  </section><!-- End Counts Section --> --}}

    <!-- ======= Services Section ======= -->
    {{--  <section id="services" class="services">
        <div class="container-fluid">

            <div class="section-title">
                <h2>Services</h2>
                <h3>Check our <span>Services</span></h3>

            </div>

            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 icon-box">
                            <div class="icon"><i class="ri-pie-chart-line"></i></div>
                            <h4 class="title">Consultancy and design services</h4>
                            <p class="description">This involves providing our clients in administering IT systems on
                                a service outsourcing model and ensuring improvement on their business processes.</p>
                        </div>
                        <div class="col-lg-4 col-md-6 icon-box">
                            <div class="icon"><i class="ri-stack-line"></i></div>
                            <h4 class="title">Network active components supply and installation</h4>
                            <p class="description">This involves design, supply, installation and setting up of
                                network equipment ie,Servers, Core and Edge Switches, Wireless Access Points and
                                Telephony Communication Systems.</p>
                        </div>
                        <div class="col-lg-4 col-md-6 icon-box">
                            <div class="icon"><i class="ri-markup-line"></i></div>
                            <h4 class="title">Security Surveillance Systems</h4>
                            <p class="description">This involves installation of security cameras, biometrics and
                                access control systems.</p>
                        </div>
                        <div class="col-lg-4 col-md-6 icon-box">
                            <div class="icon"><i class="ri-shape-line"></i></div>
                            <h4 class="title">Structured cabling solutions</h4>
                            <p class="description">This involves the installation of the data cables by matching the
                                right hardware with the right cabling to guarantee good network performance.</p>
                        </div>
                        <div class="col-lg-4 col-md-6 icon-box">
                            <div class="icon"><i class="ri-fingerprint-line"></i></div>
                            <h4 class="title">Wireless networking</h4>
                            <p class="description">This involves installation of Wi-Fi systems and backhaul wireless
                                links for interconnecting different locations/buildings.</p>
                        </div>
                        <div class="col-lg-4 col-md-6 icon-box">
                            <div class="icon"><i class="ri-body-scan-line"></i></div>
                            <h4 class="title">Network management</h4>
                            <p class="description">This involves installation of computer network equipment and
                                software applications to assist network administrators to manage and monitor computer
                                networks to ensure security, efficiency, devices inventory and reliability of the
                                services.</p>
                        </div>
                        <div class="col-lg-4 col-md-6 icon-box">
                            <div class="icon"><i class="ri-pie-chart-line"></i></div>
                            <h4 class="title">Computer hardware</h4>
                            <p class="description">This entails supply of computer hardware such as PCS, power
                                backups, printers, firewalls, deskphones and servers.</p>
                        </div>
                        <div class="col-lg-4 col-md-6 icon-box">
                            <div class="icon"><i class="ri-stack-line"></i></div>
                            <h4 class="title">IP telephony solutions</h4>
                            <p class="description">This involves installation of the unified communications systems
                                ie, Mobility, VOIP, Instant Messaging etc.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>  --}}
    <!-- End Services Section -->

    {{-- <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container">

    <div class="text-center">
      <h3>Call To Action</h3>
      <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a class="cta-btn" href="#">Call To Action</a>
    </div>

  </div>
  </section><!-- End Cta Section --> --}}

    <!-- ======= Why Section ======= -->
    {{--  <section id="portfolio" class="portfolio">
        <div class="container-fluid">

            <div class="section-title" data-aos="fade-up">
                <h2>Why Us</h2>
            </div>

            <div class="row justify-content-center">
                <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("asset/img/services.jpg");'
                    data-aos="fade-left" data-aos-delay="100"></div>
                <div
                    class="col-xl-5 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                    <h3 style="color: #428bca">Competitive Advantage</h3>
                    <p>WideBytes Solutions Limited has the competitive advantage of a technical team with a vast
                        experience in networking and communication services. The team is also customer-centric and high
                        degree of professionalism with good knowledge of technological trends.<br><br>
                        Through contacts with existing technology firms, the company has been able to ascertain that
                        most companies do not have the capacity to provide these services to various business
                        sectors.<br><br>
                        WideBytes Solutions Limited has positioned itself as the go-to company for networking and
                        communication services for companies that lack capacity to carry out these activities.</p>
                    <div class="icon-box">
                       <div class="icon"><i class="bx bx-fingerprint"></i></div>
                         <h4 class="title"><a href="">Our Mission</a></h4>
                          <p class="description">To provide cost-effective, innovative ICT solutions to our customers and improve their productive capacities.</p>
                          </div>
                           <div class="icon-box">
                            <div class="icon"><i class="bx bx-gift"></i></div>
                             <h4 class="title"><a href="">Our Vision</a></h4>
                             <p class="description">To be a leading ICT Company in Africa focusing on provision of efficient networking infrastructure and reliable communication services.</p>
                              </div>
                              <div class="icon-box">
                              <div class="icon"><i class="bx bx-atom"></i></div>
                              <h4 class="title"><a href="">Target Market</a></h4>
                                <p class="description">WideBytes Solution Limited target market is large, medium and small sized enterprises, for both public and private sectors in Kenya and across the wider Eastern Africa region.</p>
                                </div>

                               </div>

                                 </div>

        </div>
    </section>  --}}
    <!-- End Services Section -->
    <!-- ======= Portfolio Section ======= -->
  {{-- <section id="portfolio" class="portfolio">
     <div class="container-fluid">

     <div class="section-title">
      <h2>Portfolio</h2>
      <h3>Check our <span>Portfolio</span></h3>
      <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
     </div>

    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-card">Card</li>
          <li data-filter=".filter-web">Web</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container justify-content-center">

      <div class="col-xl-10">
        <div class="row">

          <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="asset/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="asset/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End portfolio item -->

          <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="asset/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="asset/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End portfolio item -->

          <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="asset/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="asset/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End portfolio item -->

          <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="asset/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="asset/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End portfolio item -->

          <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="asset/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="asset/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End portfolio item -->

          <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="asset/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 3</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="asset/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End portfolio item -->

          <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="asset/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 1</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="asset/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End portfolio item -->

          <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="asset/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 3</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="asset/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End portfolio item -->

          <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="asset/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="asset/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End portfolio item -->

        </div>
      </div>

    </div>

    </div>
  </section><!-- End Portfolio Section --> --}}


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
        <div class="container-fluid">

            <div class="section-title">
                <h2>Contact</h2>
                <h3>Get In Touch With <span>Us</span></h3>
            </div>

            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="row">

                        <div class="col-lg-6">

                            <div class="row justify-content-center">

                                <div class="col-md-6 info d-flex flex-column align-items-stretch">
                                    <i class="bx bx-map"></i>
                                    <h4>Address</h4>
                                    <p>location 58,<br>Wrong side,<br>P.O Box 6470,
                                        00300,Nairobi</p>
                                </div>
                                <div class="col-md-6 info d-flex flex-column align-items-stretch">
                                    <i class="bx bx-phone"></i>
                                    <h4>Call Us</h4>
                                    <p>+254 15153806<br>+254 15153806</p>
                                </div>
                                <div class="col-md-6 info d-flex flex-column align-items-stretch">
                                    <i class="bx bx-envelope"></i>
                                    <h4>Email Us</h4>
                                    <p>derrickmbugua50@gmail.com<br>freelancehub@gmail.com</p>
                                </div>
                                <div class="col-md-6 info d-flex flex-column align-items-stretch">
                                    <i class="bx bx-time-five"></i>
                                    <h4>Website</h4>
                                    <p>www.freelancehub.com</p>
                                </div>

                            </div>

                        </div>

                        <div class="col-lg-6">
                            <form action="email" method="post" role="form" class="php-email-form">

                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label for="name">Your Name</label>
                                        <input type="text" name="name" class="form-control" id="name" required>
                                    </div>
                                    <div class="col-md-6 form-group mt-3 mt-md-0">
                                        <label for="email">Your Email</label>
                                        <input type="email" class="form-control" name="email" id="email" required>
                                    </div>
                                </div>
                                <div class="form-group mt-3">
                                    <label for="subject">Subject</label>
                                    <input type="text" class="form-control" name="subject" id="subject" required>
                                </div>
                                <div class="form-group mt-3">
                                    <label for="message">Message</label>
                                    <textarea class="form-control" name="message" rows="8" required></textarea>
                                </div>
                                <div class="my-3">
                                    <div class="loading">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Your message has been sent. Thank you!</div>
                                </div>
                                <div class="text-center"><button type="submit">Send Message</button></div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4>Our Newsletter</h4>
            <p>Subscribe to our newsletter</p>
          </div>
          <div class="col-lg-6">
            <form action="/subscribe" method="post">
                @csrf
              <input type="email" name="email" required><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-xl-10">
            <div class="row">

              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#portfolio">Why us</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contact</a></li>
                </ul>
              </div>

              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="#services">Consultancy and design services</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#services">Security Surveillance Systems</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#services">Structured cabling solutions</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#services">Wireless networking</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#services">Network management</a></li>
                </ul>
              </div>

              <div class="col-lg-3 col-md-6 footer-contact">
                <h4>Contact Us</h4>
                <p>
                    Location 58,<br>
                    Wrong side,<br>
                    P.O Box 6470, 00300,Nairobi<br><br>
                  <strong>Phone:</strong> +254 15153806<br>
                  <strong>Email:</strong> derrickmbugua50@gmail.com<br>
                </p>

              </div>

              <div class="col-lg-3 col-md-6 footer-info">
                <h3></h3>
                {{--  <p>Widebytes Solution Limited offers widespread, proprietary IT solutions for all sectors of the economy with collaborative efforts from local and international partners. Cooperation with different partners has enhanced our business portfolio with the vending of high performance networking products and services.</p>  --}}
                {{-- <div class="social-links mt-3">
                  <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                  <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                  <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                  <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div> --}}
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Freelance Hub</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="/">Mkenyadamu</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="asset/vendor/purecounter/purecounter.js"></script>
  <script src="asset/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="asset/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="asset/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="asset/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="asset/vendor/waypoints/noframework.waypoints.js"></script>
  {{-- <script src="asset/vendor/php-email-form/validate.js"></script> --}}

  <!-- Template Main JS File -->
  <script src="asset/js/main.js"></script>

</body>

</html>
